/* @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', 'Arial', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}s

body {
    background: #ffffff;
    /* font-family: 'Poppins', 'sans serif', ; */
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    /* Set the width of the range input */
    height: 5px;
    /* Set the height of the range input */
    background-color: #dedede;
    /* Set the background color of the range input */
    border-radius: 5px;
    /* Set the border radius to round the corners */
    outline: none;
    /* Remove the default focus outline */
}

/* Style the thumb of the range input as a circle */
input[type="range"]::-webkit-slider-thumb {
    width: 16px;
    /* Set the width of the thumb */
    height: 16px;
    border: 1px solid #58de6c;
    outline: none;
    background-color: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 1px 0px 3px 1px rgba(99, 95, 95, 0.1);
}

input[type="range"]::-moz-range-thumb {
    width: 16px;
    /* Set the width of the thumb */
    height: 16px;
    border: 1px solid #58de6c;
    outline: none;
    background-color: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 1px 0px 3px 1px rgba(99, 95, 95, 0.1);
}



.card {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.text-shadow-white {
    text-shadow: 0px 0px 3px white,
        0px 0px 3px white,
        0px 0px 3px white,
        0px 0px 3px white,
        0px 0px 3px white,
        0px 0px 3px white;
}

.text-shadow-black {
    text-shadow: 0px 0px 3px black,
        0px 0px 3px black,
        0px 0px 3px black,
        0px 0px 3px black,
        0px 0px 3px black,
        0px 0px 3px black;
}

body::-webkit-scrollbar {
    display: none;
    position: absolute;
}

.scrollbar::-webkit-scrollbar {
    width: 7px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 12px;
    height: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 25px;
}

.glowing-effect {
    transition: all 1s linear;
    animation: animate 8s linear infinite;
    color: #4fd3ff08;
}

@keyframes animate {

    0%,
    100% {
        animation-delay: 0s;
        /* No delay at the start and end of each iteration */
    }

    5%,
    20%,
    50.1%,
    65.1%,
    90.1% {
        animation-delay: 7s;
        /* 7-second delay at the start of these keyframes */
    }

    18%,
    45%,
    60%,
    80%,
    98% {
        animation-delay: 14s;
        /* 14-second delay at the start of these keyframes */
    }

    0%,
    5%,
    18%,
    20%,
    45%,
    50.1%,
    60%,
    65.1%,
    80%,
    98% {
        color: white;
        text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4;
    }

    0%,
    10%,
    18%,
    20%,
    25%,
    35%,
    85%,
    90.1%,
    92%,
    100% {
        text-shadow: none;
        color: #4fd3ff08;
    }
}


.nav-boxshadow {
    box-shadow:
        0px 0px 20px 5px #060d20ca,
        0px 0px 4px 7px #060d2086;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.slider:hover i::before {
    left: 10%;
    width: 30px;
}

.slider:hover i::after {
    right: 10%;
    width: 30px;
}

.membership-container-bgimage {
    background-image: url('https://cdn.pixabay.com/photo/2016/02/16/19/16/abdominal-1203881_640.jpg');
    background-size: cover;
    background-position: center;
}

.traingle {
    clip-path: polygon(53% 0, 0% 100%, 100% 100%);
}


.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* Gives that scrolling effect as the typing happens */
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}